In [3]:
# !pip install datasets transformers

In [4]:
import datasets
import transformers
datasets.__version__

'4.0.0'

In [5]:
transformers.__version__

'4.53.1'

In [6]:
reviews = datasets.load_dataset("rotten_tomatoes", cache_dir="./datasets/rotten_tomatoes")

In [7]:
reviews

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 8530
    })
    validation: Dataset({
        features: ['text', 'label'],
        num_rows: 1066
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 1066
    })
})

In [8]:
reviews["train"].to_pandas().head()
# reviews["train"][0]

                                                text  label
0  the rock is destined to be the 21st century's ...      1
1  the gorgeously elaborate continuation of " the...      1
2                     effective but too-tepid biopic      1
3  if you sometimes like to go to the movies to h...      1
4  emerges as something rare , an issue movie tha...      1

In [9]:
from transformers import pipeline

In [10]:
classifier = pipeline('sentiment-analysis')

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision 714eb0f (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
Device set to use mps:0

In [11]:
classifier("This was a great movie! But it could be better.")

[{'label': 'POSITIVE', 'score': 0.9930610060691833}]

In [12]:
def score(text):
    return classifier(text)[0]['label']

In [13]:
test_df = reviews['test'].to_pandas()

In [15]:
test_df['model_prediction']= test_df['text'].apply(score)

In [16]:
test_df

,text,label,model_prediction
0,lovingly photographed in the manner of a golde...,1,POSITIVE
1,consistently clever and suspenseful .,1,POSITIVE
2,"it's like a "" big chill "" reunion of the baade...",1,NEGATIVE
3,the story gives ample opportunity for large-sc...,1,POSITIVE
4,"red dragon "" never cuts corners .",1,POSITIVE
...,...,...,...
1061,a terrible movie that some people will neverth...,0,NEGATIVE
1062,there are many definitions of 'time waster' bu...,0,NEGATIVE
1063,"as it stands , crocodile hunter has the hurrie...",0,NEGATIVE
1064,the thing looks like a made-for-home-video qui...,0,NEGATIVE
1065,"enigma is well-made , but it's just too dry an...",0,NEGATIVE